@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

/* Wallpaper */
body {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)
        ),
        url(/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(1rem) brightness(0.8);

    font-family: "Inter", sans-serif;
}

/* Command Component */
.command {
    border-radius: 0.5rem;
    border: 1px solid #8da1b8;
    display: flex;
    align-items: center;
    background: linear-gradient(#73829c, #798ba5);
    padding: 0.75rem;
    max-width: 32rem;
    margin: 0 auto;
    margin-top: 2rem;
    justify-content: space-between;
}

.command__input {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.command__input input {
    font-size: 1rem;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
}

.command__input input::placeholder {
    color: #fff;
}

.command__bindings span {
    border: 1px solid rgb(140, 154, 170);
    border-radius: 0.2rem;
    padding: 0.25rem;
    font-size: 0.75rem;
    color: #fff;
    white-space: pre;
}

/* Apps Wrapper */
.apps {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem 3rem;
    width: fit-content;
    padding: 0 2rem;
    margin: 0 auto;
    margin-top: 4rem;
    user-select: none;
}

/* App Component */
.app {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    display: grid;
    place-items: center;
    color: #fff;
    cursor: pointer;
}

.app svg {
    width: 2rem;
}

.app__title {
    color: #fff;
    text-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    top: calc(100% + 0.5rem);
    transform: translateX(-50%);
    font-size: 0.9rem;
    white-space: nowrap;
    text-decoration: none;
}

/* App Notifications */
.app__notif {
    font-size: 0.9rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #92080b;
    color: #fff !important;
    display: grid;
    place-items: center;
    border-radius: 100%;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
}

/* Footer Component */
footer {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    background: #ffffff80;
    padding: 0.75rem;
    width: fit-content;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.start__apps {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
}

/* App Component (variation footer) */
.start__apps .app {
    height: 3rem;
    width: 3rem;
    border-radius: 0.5rem;
}

.start__apps .app svg {
    width: 1.5rem;
}

.start__apps .app__title {
    display: none;
}

/* App Component (variation folder) */
.apps-folder {
    display: grid;
    place-content: start;
    grid-template-columns: repeat(3, 1fr);
    padding: 6px;
    gap: 2px;
}

.apps-folder .app {
    height: 1rem;
    width: 1rem;
    border-radius: 0.25rem;
    overflow: hidden;
    pointer-events: none;
}

.apps-folder svg {
    width: 0.5rem;
}

/* Folder Modal Component */
.modal-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    text-align: center;

    display: grid;
    place-items: center;
}

.modal {
    height: 50vmin;
    width: 50vmin;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5vmin;
    padding: 0 2rem;
}

.modal h1 {
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
    text-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
}

.modal__apps {
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}

/* Reponsive Design */
@media (max-width: 768px) {
    .command {
        max-width: 18rem;
    }

    .command__bindings {
        display: none;
    }

    .apps {
        grid-template-columns: repeat(3, 1fr);
    }

    .modal {
        width: 80vmin;
        height: 80vmin;
    }

    .modal h1 {
        font-size: 1.75rem;
    }
}
