@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

/* Wallpaper */
body {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)
        ),
        url(/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(1rem) brightness(0.8);

    font-family: "Inter", sans-serif;
}

/* Command Component */
.command {
    border-radius: 0.5rem;
    border: 1px solid #8da1b8;
    display: flex;
    align-items: center;
    background: linear-gradient(#73829c, #798ba5);
    padding: 0.75rem;
    max-width: 30rem;
    margin: 0 auto;
    margin-top: 2rem;
    justify-content: space-between;
}

.command__input {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.command__input input {
    font-size: 1rem;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
}

.command__input input::placeholder {
    color: #fff;
}

.command__bindings span {
    border: 1px solid rgb(140, 154, 170);
    border-radius: 0.2rem;
    padding: 0.25rem;
    font-size: 0.75rem;
    color: #fff;
    white-space: pre;
}

/* Apps Wrapper */
.apps {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem 3rem;
    max-width: 52rem;
    padding: 0 2rem;
    margin: 0 auto;
    margin-top: 4rem;
    user-select: none;
}

/* App Component */
.apps .app {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
}

.app__title {
    color: #fff;
    text-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    top: calc(100% + 0.5rem);
    transform: translateX(-50%);
    font-size: 0.9rem;
    white-space: nowrap;
}
